assets/fonts/AppleSDGothicNeoB.ttf
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url("/assets/fonts/AppleSDGothicNeoB.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
